<h1>AnimeStaffCompare</h1>

<%= form_for @anime, :url => {:action => 'search'} do |f| %>
    <div class="field">
        <%= f.label :title, "タイトル名" %>
        <%= f.text_field :title %>
    </div>

    <div class="submit">
        <%= f.submit "検索" %>
    </div>
<% end %>
